<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ titulo }}</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>


<body>

    <main class="contenedor">

        <header>

            <h1>🔴 Pokédex</h1>

            <p>Todos los Pokémon</p>

            <div class="botones">

                <a href="/pokemon" class="boton azul">
                    Ver todos
                </a>

                <a href="/pokemon/cantidad/3" class="boton verde">
                    Ver 3 primeros
                </a>

            </div>

        </header>


        <section class="grid">

            {% for pokemon in pokemones %}

                <article class="tarjeta">

                    <div class="numero">
                        #{{ pokemon.id }}
                    </div>


                    <div class="imagen-container">

                        <img
                            src="{{ url_for('static', filename='images/' + pokemon.imagen) }}"
                            alt="{{ pokemon.nombre }}"
                        >

                    </div>


                    <h2>
                        {{ pokemon.nombre }}
                    </h2>


                    <span class="tipo">
                        {{ pokemon.tipo }}
                    </span>


                    <div class="informacion">

                        <div>
                            <strong>Poder</strong>
                            <span>{{ pokemon.poder }}</span>
                        </div>

                        <div>
                            <strong>Altura</strong>
                            <span>{{ pokemon.altura }}</span>
                        </div>

                        <div>
                            <strong>Peso</strong>
                            <span>{{ pokemon.peso }}</span>
                        </div>

                    </div>


                    <a
                        href="/pokemon/{{ pokemon.id }}"
                        class="boton detalle"
                    >
                        Ver detalles
                    </a>

                </article>

            {% endfor %}

        </section>

    </main>

</body>

</html>