<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Registro e Inicio de Sesión</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container">

        <!-- REGISTRO -->

        <section class="form-section">

            <h1>Registro</h1>

            {% if register_errors %}
            <div class="errors">

                {% for error in register_errors %}
                <p>{{ error }}</p>
                {% endfor %}

            </div>
            {% endif %}

            <form action="/register" method="POST">

                <label>Nombre</label>

                <input type="text" name="first_name" value="{{ register_data.first_name if register_data else '' }}">

                <label>Apellido</label>

                <input type="text" name="last_name" value="{{ register_data.last_name if register_data else '' }}">

                <label>E-mail</label>

                <input type="email" name="email" value="{{ register_data.email if register_data else '' }}">

                <label>Contraseña</label>

                <input type="password" name="password">

                <label>Conf. Contraseña</label>

                <input type="password" name="confirm_password">

                <button type="submit">
                    Registrar
                </button>

            </form>

        </section>


        <!-- LOGIN -->

        <section class="form-section">

            <h1>Inicio de Sesión</h1>

            {% if login_errors %}
            <div class="errors">

                {% for error in login_errors %}
                <p>{{ error }}</p>
                {% endfor %}

            </div>
            {% endif %}

            <form action="/login" method="POST">

                <label>E-mail</label>

                <input type="email" name="login_email">

                <label>Contraseña</label>

                <input type="password" name="login_password">

                <button type="submit">
                    Iniciar Sesión
                </button>

            </form>

        </section>

    </div>

</body>

</html>